{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top page-width">
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 9
            assign footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.size > 6
            assign footer_grid_class = 'grid--4-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--3-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'text' -%}
                  <div class="footer-block__details-content rte">
                    {{ block.settings.subtext }}
                  </div>
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank -%}
                    <div class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menu.links -%}
                          <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                            {{ link.title }}
                          </a>
                      {%- endfor -%}
                    </div>
                  {%- endif -%}
                {%- when 'image' -%}
                  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                    {%- if block.settings.image != blank -%}
                      {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                      <img
                        srcset= "{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                        src="{{ block.settings.image | image_url: width: 400 }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        style="max-width: min(100%, {{ block.settings.image_width }}px);"
                      >
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {%- endif -%}
                  </div>
                {%- endcase -%}
            </div>
          {%- endfor -%}
        <div class="right-side">
        <h2 class="footer-block__heading">JOIN OUR NEWSLETTER</h2>
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
              SUBSCRIBE
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
        <div class="footer__payment">
          <svg width="502" height="36" viewBox="0 0 502 36" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.581055" y="0.315918" width="63" height="35" rx="3" fill="#2A3476"></rect>
<rect x="73.5811" y="0.315918" width="63" height="35" rx="3" fill="#010461"></rect>
<rect x="146.581" y="0.315918" width="63" height="35" rx="3" fill="#1D4578"></rect>
<rect x="219.581" y="0.5" width="63" height="35" rx="3" fill="black"></rect>
<rect x="292.581" y="0.315918" width="63" height="35" rx="3" fill="#F2B6C7"></rect>
<rect x="365.581" y="0.315918" width="63" height="35" rx="3" fill="#C4FAE5"></rect>
<rect x="438.581" y="0.5" width="63" height="35" rx="3" fill="#3471C7"></rect>
<g clip-path="url(#clip0_234_1116)">
<path d="M52.0197 23.8306C51.8337 22.9386 51.6477 22.045 51.4618 21.1515C51.2727 20.2375 51.0836 19.3251 50.893 18.4111C50.7086 17.5238 50.5242 16.6349 50.3398 15.7476C50.1601 14.8808 49.9789 14.0123 49.7992 13.1454C49.6929 12.635 49.5867 12.1247 49.482 11.6143C49.4726 11.5687 49.4585 11.5452 49.4038 11.5452C48.5209 11.5483 47.6381 11.5452 46.7552 11.553C46.5177 11.5546 46.2864 11.6064 46.0676 11.7038C45.6832 11.8734 45.4426 12.178 45.2832 12.5565C44.7878 13.7391 44.2956 14.9216 43.8018 16.1057C42.7299 18.6765 41.6579 21.2473 40.5859 23.8181C40.5438 23.9186 40.5031 24.0191 40.4609 24.1212C40.4781 24.1243 40.4859 24.1259 40.4938 24.1259C41.5954 24.1259 42.6971 24.1259 43.7987 24.1274C43.8503 24.1274 43.8628 24.1039 43.8784 24.063C44.0878 23.4788 44.2972 22.8962 44.5066 22.3136C44.5222 22.2696 44.5363 22.2398 44.5956 22.2398C45.9426 22.2413 47.288 22.2413 48.635 22.2413C48.6803 22.2413 48.7006 22.2508 48.7116 22.3026C48.8272 22.8821 48.9491 23.4616 49.0647 24.0411C49.0772 24.1054 49.0975 24.129 49.1679 24.1274C50.1398 24.1243 51.1102 24.1259 52.0822 24.1259V24.0945C52.0478 24.0112 52.0384 23.9201 52.0197 23.8306ZM48.0709 19.6721C47.2896 19.6706 46.5083 19.6706 45.727 19.6706H45.4676C46.0379 18.0954 46.6286 16.5391 47.1943 14.9687C47.2349 15.1587 47.274 15.3503 47.313 15.5403C47.5349 16.6224 47.7584 17.7044 47.9803 18.788C48.035 19.0534 48.0834 19.3204 48.1443 19.5842C48.1662 19.669 48.1381 19.6721 48.0709 19.6721Z" fill="white"></path>
<path d="M38.5506 11.3159C38.6646 11.3442 38.7834 11.3332 38.899 11.3426C39.6444 11.4007 40.3679 11.5546 41.0679 11.8153C41.1367 11.8404 41.1617 11.8624 41.1476 11.9457C41.0664 12.4136 40.9929 12.8816 40.9179 13.3512C40.8585 13.7187 40.7976 14.0877 40.7382 14.4552C40.7335 14.4882 40.7273 14.5227 40.7195 14.5636C40.582 14.5039 40.4476 14.4458 40.3132 14.3877C39.5069 14.039 38.6631 13.9134 37.7927 13.9574C37.4223 13.9762 37.0598 14.0422 36.727 14.2212C36.5613 14.3092 36.416 14.4222 36.3066 14.5777C36.0785 14.8981 36.0941 15.2483 36.3457 15.5498C36.5129 15.7492 36.7223 15.8937 36.9395 16.0303C37.402 16.3193 37.8974 16.5439 38.3755 16.7999C38.9412 17.1029 39.4663 17.4626 39.8991 17.9431C40.2976 18.386 40.5757 18.8948 40.6523 19.4884C40.796 20.616 40.5288 21.6368 39.8007 22.5162C39.2522 23.1789 38.5396 23.6045 37.7411 23.8919C37.2551 24.0662 36.7551 24.1777 36.2441 24.2421C35.7785 24.3018 35.3112 24.3301 34.8425 24.3143C33.8658 24.2782 32.9032 24.1447 31.9672 23.8479C31.8094 23.7977 31.6531 23.738 31.5 23.6736C31.4609 23.6579 31.4453 23.6422 31.4531 23.5935C31.5156 23.215 31.575 22.8366 31.6344 22.4581C31.7094 21.9838 31.786 21.5111 31.8625 21.0369C31.8735 20.9693 31.886 20.9034 31.8985 20.828C32.0297 20.8892 32.1547 20.9489 32.2813 21.007C32.8126 21.2473 33.3517 21.464 33.9268 21.574C34.494 21.6823 35.0659 21.72 35.6425 21.6807C36.03 21.654 36.4019 21.5614 36.7395 21.3619C36.9567 21.2332 37.1379 21.0651 37.2348 20.8249C37.3802 20.4621 37.3192 20.1276 37.0629 19.8323C36.8707 19.6109 36.6301 19.4492 36.3832 19.2984C35.9988 19.0628 35.5863 18.8822 35.1909 18.6671C34.6284 18.3609 34.0955 18.0122 33.6486 17.5458C33.2611 17.1406 32.9782 16.6774 32.8548 16.123C32.7782 15.7822 32.7767 15.4399 32.8126 15.0944C32.8642 14.5855 33.0173 14.1097 33.2705 13.6684C33.622 13.056 34.1158 12.5864 34.7112 12.2189C35.3378 11.8326 36.0222 11.5939 36.7426 11.4573C37.1192 11.3866 37.4973 11.341 37.8802 11.3285C37.9005 11.3285 37.9224 11.3301 37.9396 11.3159C38.1443 11.3159 38.3474 11.3159 38.5506 11.3159Z" fill="white"></path>
<path d="M15.4969 13.202C15.4782 13.1643 15.4391 13.1518 15.4063 13.1329C14.4562 12.5848 13.4499 12.1781 12.3967 11.8828C12.292 11.853 12.1889 11.8185 12.0811 11.8028C12.0811 11.7918 12.0811 11.7823 12.0811 11.7713C12.1092 11.7164 12.1107 11.6567 12.1232 11.5986C12.1311 11.5593 12.1451 11.5436 12.1826 11.5468C12.1983 11.5483 12.2139 11.5468 12.2295 11.5468C13.9124 11.5468 15.5938 11.5468 17.2768 11.5468C17.5487 11.5468 17.8174 11.5782 18.0721 11.6787C18.4941 11.8467 18.7269 12.1765 18.8128 12.6084C19.0378 13.7297 19.2535 14.8541 19.4738 15.977C19.6207 16.726 19.7676 17.4751 19.9145 18.2242C19.9207 18.2525 19.9285 18.2792 19.9192 18.309C19.8676 18.3043 19.8676 18.2572 19.8551 18.2242C19.7785 18.0264 19.6941 17.8332 19.6051 17.64C19.2394 16.8548 18.7706 16.1387 18.2112 15.4807C18.0393 15.2781 17.8612 15.0802 17.6721 14.8934C17.0596 14.2903 16.3908 13.7611 15.6548 13.3166C15.597 13.2837 15.5391 13.2538 15.4969 13.202Z" fill="#FAA71B"></path>
<path d="M15.4971 13.2021C15.5205 13.1927 15.5361 13.2115 15.5533 13.221C16.9862 14.08 18.1801 15.1887 19.077 16.6115C19.4161 17.1486 19.6958 17.7155 19.9193 18.3107C20.0005 18.5808 20.0381 18.8604 20.0959 19.1352C20.1646 19.4555 20.224 19.7791 20.2881 20.1026C20.324 20.09 20.3224 20.057 20.3303 20.0335C21.0163 18.1819 21.7007 16.3304 22.3851 14.4773C22.7383 13.524 23.0899 12.5708 23.4414 11.6175C23.4602 11.5657 23.4852 11.5469 23.5414 11.5469C24.6322 11.5484 25.7229 11.5484 26.8151 11.5469C26.8792 11.5469 26.8901 11.5579 26.8651 11.6191C26.0745 13.5649 25.2869 15.5106 24.4993 17.4564C23.7743 19.2451 23.0492 21.0338 22.3242 22.8225C22.1601 23.2277 21.9945 23.6329 21.8319 24.0396C21.8116 24.0915 21.7866 24.115 21.7257 24.115C20.635 24.1134 19.5443 24.1134 18.452 24.115C18.391 24.115 18.3692 24.0977 18.3535 24.0381C17.916 22.3734 17.4753 20.7087 17.0347 19.0441C16.5268 17.1203 16.019 15.1965 15.5111 13.2712C15.5064 13.2476 15.5018 13.2257 15.4971 13.2021Z" fill="white"></path>
<path d="M26.1777 24.1274C26.259 23.6233 26.3402 23.1271 26.4199 22.6292C26.4996 22.133 26.5793 21.6352 26.659 21.1389C26.734 20.6709 26.809 20.2014 26.884 19.7334C26.9653 19.2261 27.0466 18.7189 27.1294 18.2116C27.2106 17.7122 27.2919 17.2128 27.3716 16.7134C27.4466 16.2455 27.5216 15.7759 27.5966 15.3079C27.6716 14.8415 27.7466 14.3766 27.8216 13.9102C27.8982 13.4391 27.9732 12.968 28.0498 12.4968C28.0982 12.1985 28.1451 11.9001 28.192 11.6001C28.1982 11.564 28.2123 11.542 28.2529 11.5467C28.2654 11.5483 28.2795 11.5467 28.292 11.5467C29.3124 11.5467 30.3327 11.5467 31.3531 11.5452C31.4219 11.5452 31.4375 11.5562 31.4266 11.63C31.3531 12.0665 31.2844 12.5047 31.2141 12.9428C31.1391 13.4108 31.0625 13.8804 30.9875 14.3484C30.9125 14.8164 30.8375 15.2859 30.7625 15.7539C30.6859 16.225 30.6109 16.6962 30.5343 17.1673C30.464 17.6054 30.3937 18.042 30.3234 18.4802C30.2484 18.9482 30.1734 19.4177 30.0968 19.8857C30.0265 20.3207 29.9562 20.7557 29.8874 21.1907C29.8108 21.6619 29.7358 22.133 29.6593 22.6041C29.5796 23.0957 29.5014 23.5872 29.4233 24.0787C29.4186 24.1133 29.403 24.1306 29.367 24.1259C29.3514 24.1243 29.3358 24.1259 29.3202 24.1259C28.3029 24.1259 27.2841 24.1259 26.2668 24.1259C26.2387 24.1274 26.209 24.1274 26.1777 24.1274Z" fill="white"></path>
</g>
<g clip-path="url(#clip1_234_1116)">
<path d="M87 18.6237C87 18.1648 87 17.7015 87 17.2426C87.0405 16.8862 87.045 16.5253 87.072 16.1644C87.117 15.5674 87.2926 14.9972 87.4816 14.4358C87.8642 13.3175 88.4134 12.2839 89.1335 11.3394C90.3758 9.72215 91.9467 8.51033 93.8417 7.73512C94.6159 7.41879 95.4171 7.15593 96.2588 7.07574C96.6369 7.0401 97.015 7.0401 97.3931 7C97.8432 7 98.2933 7 98.7434 7C99.162 7.0401 99.5851 7.04901 100.008 7.08019C100.431 7.10693 100.832 7.22276 101.233 7.33414C102.479 7.69056 103.627 8.25192 104.685 9.00041C104.815 9.09397 104.973 9.16525 105.009 9.34791C105.014 9.46821 104.937 9.53058 104.851 9.60186C103.614 10.6221 102.637 11.8518 101.944 13.2908C101.368 14.4848 101.017 15.7412 100.904 17.0689C100.719 19.2341 101.156 21.2702 102.178 23.1859C102.844 24.4334 103.744 25.4937 104.838 26.3981C104.919 26.465 105.005 26.5273 105.005 26.6476C105 26.7546 104.932 26.8214 104.851 26.8793C103.497 27.8773 101.998 28.5589 100.341 28.8842C99.9092 28.9688 99.4636 28.9644 99.0225 28.9822C98.928 28.9866 98.829 28.9554 98.7344 29.0045C98.3158 29.0045 97.8927 29.0045 97.4741 29.0045C97.069 28.9688 96.6594 28.9644 96.2498 28.9287C95.5341 28.8663 94.859 28.648 94.1883 28.403C93.0675 27.9976 92.0413 27.4139 91.1095 26.6788C89.6557 25.5294 88.5529 24.1037 87.8102 22.4151C87.5851 21.8805 87.4096 21.3325 87.2476 20.7756C87.072 20.1697 87.054 19.5504 87.0225 18.9311C87.018 18.8287 87.045 18.7218 87 18.6237Z" fill="#EA1F25"></path>
<path d="M111.257 7C111.675 7 112.098 7 112.517 7C112.967 7.0401 113.422 7.04901 113.872 7.08465C114.07 7.10247 114.254 7.14702 114.443 7.19158C116.181 7.597 117.734 8.36331 119.093 9.51276C120.335 10.5597 121.335 11.7983 122.028 13.2641C122.46 14.1819 122.807 15.1264 122.919 16.1422C122.964 16.552 122.96 16.9664 123 17.3763C123 17.8352 123 18.2985 123 18.7574C122.955 19.1138 122.955 19.4791 122.928 19.8356C122.883 20.4326 122.708 21.0028 122.518 21.5642C122.131 22.6958 121.573 23.7473 120.84 24.6962C119.467 26.4783 117.707 27.7392 115.573 28.4921C114.687 28.804 113.773 28.9822 112.823 28.9777C112.765 28.9777 112.702 28.9599 112.648 29C112.121 29 111.599 29 111.072 29C110.636 28.9421 110.194 28.9644 109.758 28.8931C108.871 28.7505 108.029 28.4609 107.215 28.0956C106.517 27.7837 105.855 27.4006 105.243 26.9417C105.14 26.8659 105 26.808 104.996 26.6476C104.996 26.4783 105.14 26.4115 105.243 26.3224C106.269 25.4581 107.111 24.4467 107.764 23.2795C108.502 21.9652 108.939 20.5573 109.078 19.0603C109.29 16.8105 108.853 14.6898 107.755 12.7072C107.116 11.5577 106.278 10.5642 105.279 9.70879C105.167 9.61077 105.014 9.53503 104.996 9.35682C104.987 9.2098 105.108 9.15188 105.198 9.08505C106.035 8.46132 106.94 7.96233 107.921 7.60591C108.696 7.32969 109.474 7.0891 110.298 7.05346C110.617 7.0401 110.937 7.0401 111.257 7Z" fill="#F69E1F"></path>
<path d="M105.036 26.6476C105.014 26.6476 104.987 26.6476 104.964 26.6476C104.577 26.3 104.181 25.957 103.821 25.5872C102.786 24.5269 102.02 23.2972 101.489 21.925C101.156 21.0651 100.927 20.1696 100.828 19.2563C100.621 17.3049 100.891 15.4159 101.683 13.6071C102.313 12.1814 103.218 10.9473 104.361 9.88247C104.555 9.6998 104.762 9.5305 104.964 9.35229C104.987 9.35229 105.014 9.35229 105.036 9.35229C106.13 10.2612 107.075 11.2948 107.782 12.5333C108.493 13.7719 108.957 15.0951 109.146 16.5074C109.402 18.4722 109.182 20.3835 108.417 22.219C107.912 23.4309 107.206 24.5135 106.301 25.4758C105.905 25.8991 105.468 26.2733 105.036 26.6476Z" fill="#F16122"></path>
</g>
<g clip-path="url(#clip2_234_1116)">
<path d="M188.758 14.1037C188.721 13.2511 188.364 12.5838 187.593 12.1919C187.241 12.0172 186.869 11.9007 186.486 11.8742C185.119 11.7683 183.743 11.8371 182.376 11.8265C182.092 11.8265 181.931 11.9907 181.885 12.2714C181.745 13.1399 181.611 14.0083 181.476 14.8768C181.155 16.958 180.839 19.0445 180.519 21.1257C180.477 21.4064 180.581 21.5388 180.865 21.5441C181.134 21.5494 181.398 21.5441 181.667 21.5441C181.942 21.5441 182.221 21.5494 182.495 21.5441C182.702 21.5388 182.837 21.4382 182.873 21.2211C182.992 20.4479 183.122 19.68 183.236 18.9016C183.303 18.4249 183.432 18.2978 183.903 18.2978C184.54 18.2925 185.181 18.3243 185.813 18.2131C186.91 18.0172 187.774 17.4717 188.276 16.4232C188.623 15.6977 188.794 14.9192 188.758 14.1037ZM186.201 14.8186C186.16 15.8142 185.72 16.2749 184.731 16.349C184.571 16.3596 184.405 16.349 184.24 16.349C183.593 16.3596 183.598 16.3596 183.717 15.7136C183.805 15.2052 183.882 14.6915 183.955 14.1778C184.007 13.8283 184.069 13.7595 184.421 13.7647C184.757 13.77 185.088 13.7436 185.425 13.8124C185.963 13.9342 186.227 14.2572 186.201 14.8186Z" fill="white"></path>
<path d="M164.258 13.6112C164.051 12.5627 163.28 12.1125 162.333 11.9219C161.557 11.7683 160.77 11.8425 160.113 11.8266C159.332 11.8266 158.674 11.8213 158.022 11.8266C157.665 11.8319 157.515 11.9643 157.458 12.3085C157.401 12.6527 157.349 13.0022 157.298 13.3517C156.894 15.9466 156.49 18.5415 156.092 21.1364C156.05 21.3853 156.154 21.5335 156.408 21.5388C156.925 21.5494 157.443 21.5494 157.96 21.5388C158.245 21.5335 158.405 21.3906 158.452 21.0993C158.576 20.3526 158.695 19.6059 158.809 18.8592C158.871 18.4356 159.016 18.2926 159.435 18.2873C159.901 18.2767 160.367 18.2926 160.832 18.2661C161.966 18.2026 162.97 17.8266 163.617 16.8098C164.227 15.8407 164.486 14.7604 164.258 13.6112ZM161.738 15.1946C161.583 15.9466 161.164 16.2908 160.32 16.3544C160.165 16.365 160.01 16.3544 159.854 16.3544V16.365C159.735 16.365 159.611 16.365 159.492 16.365C159.181 16.365 159.181 16.3544 159.233 16.0366C159.337 15.4064 159.435 14.771 159.528 14.1408C159.564 13.8919 159.663 13.7595 159.932 13.7701C160.165 13.7807 160.398 13.7701 160.631 13.7754C161.541 13.786 161.93 14.2838 161.738 15.1946Z" fill="white"></path>
<path d="M195.941 15.0675C195.579 15.0622 195.217 15.0675 194.854 15.0675C194.166 15.0675 194.166 15.0675 194.006 15.7559C193.747 15.3376 193.374 15.1258 192.934 15.0198C192.676 14.9563 192.407 14.9351 192.143 14.9245C189.565 14.808 187.909 17.3499 188.328 19.5476C188.67 21.3482 190.109 21.9042 191.61 21.6394C192.225 21.5282 192.753 21.2317 193.235 20.7762C193.224 20.9086 193.219 21.004 193.204 21.094C193.157 21.4488 193.245 21.5494 193.602 21.5494C193.99 21.5494 194.378 21.5494 194.766 21.5494C195.222 21.5494 195.367 21.4064 195.434 20.9351C195.522 20.3208 195.62 19.7012 195.714 19.0869C195.9 17.8795 196.086 16.6774 196.267 15.47C196.319 15.1787 196.226 15.0728 195.941 15.0675ZM193.716 18.425C193.509 19.3411 192.8 19.9183 191.879 19.9183C190.864 19.9183 190.311 19.1928 190.538 18.1655C190.766 17.1381 191.76 16.492 192.748 16.7303C193.509 16.9104 193.902 17.5988 193.716 18.425Z" fill="white"></path>
<path d="M171.426 15.0782C171.1 15.0782 170.768 15.0782 170.442 15.0782C169.759 15.0782 169.759 15.0782 169.573 15.7454C169.356 15.4118 169.076 15.1894 168.719 15.0835C167.736 14.7975 166.773 14.8346 165.867 15.3535C164.522 16.1214 163.896 17.35 163.844 18.8911C163.818 19.6324 164.03 20.3262 164.543 20.8822C165.345 21.7507 166.349 21.8143 167.41 21.576C167.938 21.4542 168.388 21.1629 168.817 20.771C168.807 20.8928 168.802 20.967 168.797 21.0411C168.75 21.4595 168.822 21.5442 169.226 21.5442C169.578 21.5442 169.935 21.5442 170.287 21.5442C170.82 21.5442 170.944 21.4224 171.027 20.8822C171.182 19.8125 171.353 18.7481 171.519 17.6783C171.627 16.9687 171.747 16.2538 171.85 15.5442C171.897 15.1629 171.814 15.0782 171.426 15.0782ZM169.283 18.4356C169.071 19.3571 168.362 19.9237 167.436 19.9184C166.452 19.9131 165.93 19.267 166.095 18.2556C166.266 17.2282 167.203 16.5292 168.201 16.6881C169.035 16.8257 169.49 17.5618 169.283 18.4356Z" fill="white"></path>
<path d="M176.011 18.6949C176.265 18.3137 176.492 17.9747 176.72 17.6358C177.212 16.8944 177.714 16.153 178.195 15.401C178.345 15.1733 178.526 15.0674 178.795 15.0727C179.251 15.0833 179.711 15.0727 180.167 15.078C180.312 15.078 180.472 15.0515 180.555 15.221C180.643 15.3904 180.55 15.5228 180.457 15.6552C179.189 17.5246 177.921 19.3887 176.658 21.258C176.156 21.9941 175.654 22.7302 175.162 23.4769C175.002 23.7205 174.795 23.8264 174.51 23.8212C174.07 23.8106 173.631 23.8212 173.191 23.8212C173.035 23.8212 172.865 23.8212 172.787 23.6517C172.714 23.4981 172.797 23.3657 172.89 23.2386C173.382 22.5343 173.863 21.83 174.36 21.131C174.474 20.9721 174.495 20.8397 174.433 20.649C173.869 18.9809 173.315 17.3075 172.756 15.634C172.611 15.2051 172.694 15.0886 173.134 15.0886C173.584 15.0886 174.029 15.0833 174.479 15.0886C174.842 15.0939 174.95 15.1733 175.054 15.5281C175.344 16.5131 175.633 17.4981 175.923 18.4831C175.954 18.5308 175.975 18.5837 176.011 18.6949Z" fill="white"></path>
<path d="M197.545 21.5494C197.322 21.5494 197.095 21.5547 196.872 21.5494C196.624 21.5388 196.515 21.4064 196.556 21.1523C196.888 19.0075 197.219 16.8628 197.55 14.7233C197.679 13.8919 197.804 13.0552 197.923 12.2237C197.969 11.9166 198.057 11.8319 198.363 11.8266C198.803 11.8266 199.242 11.8213 199.682 11.8266C200.029 11.8266 200.122 11.959 200.07 12.3032C199.853 13.7012 199.641 15.0993 199.424 16.4974C199.185 18.0331 198.947 19.5688 198.704 21.1046C198.658 21.4064 198.492 21.5441 198.192 21.5547C197.974 21.5547 197.762 21.5494 197.545 21.5494Z" fill="white"></path>
</g>
<g clip-path="url(#clip3_234_1116)">
<path d="M240.297 13.7487C237.976 15.2281 238.283 18.3534 240.682 19.457C240.653 19.5569 240.624 19.6615 240.585 19.7614C240.209 20.7794 239.624 21.6832 238.903 22.4966C238.166 23.3243 237.347 23.5146 236.328 23.0532C235.397 22.6346 234.49 22.6155 233.559 23.0389C232.408 23.5621 231.697 23.3243 230.887 22.4205C229.62 21.0029 228.864 19.3523 228.635 17.4876C228.494 16.3317 228.611 15.2043 229.225 14.1768C229.878 13.078 230.853 12.4596 232.16 12.355C232.667 12.3121 233.145 12.4548 233.603 12.6356C234.89 13.1398 234.749 13.059 235.938 12.6118C236.923 12.2455 237.893 12.198 238.873 12.588C239.41 12.8021 240.004 13.2778 240.297 13.7487Z" fill="white"></path>
<path d="M254.284 13.8772C254.148 11.5225 252.339 9.81958 249.911 9.81958C248.244 9.81958 246.581 9.81958 244.914 9.81958H244.66V23.1816H246.786V18.6245H247.108C248.068 18.6245 249.029 18.6483 249.984 18.6103C251.442 18.5532 252.666 17.9966 253.514 16.8074C254.143 15.9322 254.343 14.9427 254.284 13.8772ZM251.227 16.2937C250.759 16.6647 250.199 16.8407 249.604 16.8597C248.702 16.8835 247.8 16.8693 246.898 16.8693C246.869 16.8693 246.835 16.8597 246.781 16.8502V11.6034C246.849 11.5939 246.908 11.5796 246.971 11.5796C247.81 11.5796 248.643 11.5701 249.482 11.5891C250.101 11.6034 250.686 11.7556 251.188 12.1267C251.798 12.5738 252.046 13.2065 252.105 13.9152C252.178 14.8333 251.998 15.6753 251.227 16.2937Z" fill="white"></path>
<path d="M263.342 16.6123C263.337 15.3185 262.748 14.3671 261.538 13.8105C260.583 13.3729 259.574 13.2873 258.54 13.4252C257.589 13.5537 256.736 13.8867 256.078 14.5954C255.625 15.0854 255.347 15.6515 255.337 16.3555C255.956 16.3555 256.551 16.3602 257.151 16.3507C257.199 16.3507 257.268 16.2556 257.287 16.1937C257.458 15.7038 257.794 15.3803 258.282 15.1853C258.75 14.9998 259.232 14.9712 259.72 15.0378C260.441 15.133 261.041 15.4326 261.207 16.1937C261.295 16.5838 261.28 16.9881 261.314 17.3925C261.202 17.4115 261.139 17.4258 261.075 17.4305C260.427 17.4686 259.778 17.5019 259.13 17.5352C258.321 17.5827 257.511 17.6398 256.736 17.9157C254.674 18.653 254.128 21.0362 255.707 22.4681C256.38 23.0817 257.224 23.3053 258.13 23.2957C259.359 23.2862 260.393 22.8676 261.144 21.8782C261.202 21.8021 261.256 21.7165 261.309 21.6356C261.329 21.6404 261.348 21.6451 261.368 21.6546V23.1816H263.342V22.0827C263.342 20.2609 263.347 18.4342 263.342 16.6123ZM260.963 20.6414C260.539 21.2646 259.93 21.5738 259.184 21.6689C258.642 21.7355 258.116 21.7117 257.619 21.4644C257.131 21.217 256.882 20.8317 256.907 20.2942C256.926 19.7899 257.194 19.4332 257.662 19.2524C257.994 19.124 258.355 19.0288 258.711 18.9908C259.559 18.9099 260.407 18.8719 261.28 18.8148C261.295 19.4665 261.343 20.0849 260.963 20.6414Z" fill="white"></path>
<path d="M265.152 25.1891C265.454 25.1891 265.732 25.1986 266.005 25.1891C266.605 25.1653 267.073 24.9037 267.331 24.3709C267.497 24.0284 267.614 23.6669 267.731 23.3054C267.755 23.2293 267.721 23.1199 267.692 23.0342C266.546 19.9327 265.4 16.8313 264.255 13.7345C264.226 13.6632 264.201 13.5871 264.172 13.4967C264.918 13.4967 265.644 13.4967 266.4 13.4967C267.229 16.1177 268.062 18.7435 268.896 21.3741C268.911 21.3741 268.925 21.3693 268.945 21.3693C269.779 18.7435 270.607 16.1177 271.441 13.4919C272.158 13.4919 272.865 13.4919 273.581 13.4919C273.577 13.5395 273.581 13.5776 273.567 13.6109C272.289 17.1072 271.012 20.6082 269.72 24.1045C269.471 24.7848 269.13 25.4222 268.599 25.9502C268.058 26.4877 267.39 26.7398 266.644 26.7969C266.21 26.8302 265.766 26.8064 265.332 26.8064C265.22 26.8064 265.147 26.7779 265.152 26.6447C265.152 26.1738 265.152 25.6981 265.152 25.1891Z" fill="white"></path>
<path d="M237.581 8.81592C237.751 10.3476 236.562 11.8936 235.036 12.141C234.612 12.2076 234.558 12.1648 234.578 11.7842C234.651 10.281 236.089 8.85397 237.581 8.81592Z" fill="white"></path>
</g>
<g clip-path="url(#clip4_234_1116)">
<path d="M341.085 15.8455V16.2703C341.048 16.2475 341.023 16.2317 341 16.2176C340.12 15.6682 339.171 15.512 338.165 15.7665C336.341 16.2264 335.195 18.0063 335.517 19.8529C335.765 21.2782 336.854 22.4156 338.275 22.7298C338.458 22.7702 338.644 22.7895 338.829 22.8176H339.305C339.328 22.8123 339.351 22.8053 339.373 22.8036C339.976 22.7527 340.529 22.5613 341.032 22.2313C341.046 22.2225 341.06 22.2173 341.089 22.2032V22.6228H343.119V15.8473H341.085V15.8455ZM340.504 20.4971C339.63 21.2764 338.216 21.0781 337.621 20.0951C337.461 19.8301 337.378 19.5404 337.384 19.0823C337.406 18.554 337.722 18.0519 338.31 17.7254C339.051 17.3147 339.991 17.4534 340.581 18.0484C341.272 18.7435 341.236 19.8441 340.504 20.4971Z" fill="black"></path>
<path d="M319.56 15.8455V16.2562C319.544 16.2545 319.537 16.2562 319.533 16.2545C319.514 16.2422 319.495 16.2299 319.473 16.2176C318.524 15.6296 317.51 15.4909 316.446 15.8226C314.722 16.3633 313.691 18.0659 313.99 19.8423C314.229 21.2606 315.325 22.4138 316.739 22.7263C316.924 22.7666 317.114 22.786 317.3 22.8158H317.776C317.802 22.8105 317.827 22.8035 317.853 22.8C318.419 22.7526 318.942 22.5788 319.422 22.2822C319.465 22.2576 319.505 22.2313 319.561 22.1962V22.621H321.594V15.8455H319.56V15.8455ZM318.993 20.4812C318.091 21.3027 316.61 21.0675 316.048 20.0108C315.918 19.7668 315.853 19.5053 315.856 19.0998C315.883 18.5504 316.2 18.0466 316.793 17.7201C317.528 17.3164 318.464 17.4551 319.051 18.0431C319.739 18.7329 319.713 19.8248 318.993 20.4812Z" fill="black"></path>
<path d="M334.741 22.6333C334.063 22.6333 333.39 22.6333 332.707 22.6333C332.707 22.5912 332.707 22.5543 332.707 22.5174C332.707 21.3783 332.707 20.2408 332.707 19.1016C332.707 18.8734 332.689 18.647 332.621 18.4276C332.459 17.9098 332.059 17.5903 331.515 17.5429C331.261 17.5218 331.011 17.5324 330.766 17.6078C330.201 17.7816 329.831 18.2362 329.78 18.8225C329.77 18.9384 329.765 19.056 329.765 19.1718C329.763 20.2847 329.765 21.3958 329.765 22.5087C329.765 22.5438 329.765 22.5771 329.765 22.6193C329.08 22.6193 328.402 22.6193 327.715 22.6193C327.715 20.3619 327.715 18.1046 327.715 15.8438C328.386 15.8438 329.053 15.8438 329.733 15.8438C329.733 16.0842 329.733 16.3247 329.733 16.574C329.752 16.5652 329.763 16.5634 329.766 16.5582C330.157 16.0562 330.68 15.7841 331.302 15.691C332.013 15.5857 332.703 15.663 333.344 16.0017C334.241 16.4774 334.723 17.2322 334.739 18.2415C334.76 19.6809 334.744 21.1202 334.744 22.5596C334.746 22.5842 334.743 22.607 334.741 22.6333Z" fill="black"></path>
<path d="M310.304 22.6228C310.26 22.6245 310.232 22.6263 310.204 22.6263C309.336 22.6263 308.468 22.6263 307.6 22.6263C307.547 22.6263 307.508 22.6193 307.473 22.5701C306.365 21.0623 305.254 19.558 304.145 18.052C304.138 18.0432 304.132 18.0327 304.12 18.0151C304.157 17.987 304.194 17.9589 304.231 17.9308C304.634 17.6166 305.06 17.3253 305.439 16.983C306.469 16.0492 307.063 14.8819 307.235 13.504C307.263 13.2793 307.272 13.0511 307.29 12.8176C308.019 12.8176 308.753 12.8176 309.498 12.8176C309.468 14.9819 308.702 16.8355 307.182 18.3855C308.221 19.795 309.258 21.2027 310.304 22.6228Z" fill="black"></path>
<path d="M303.831 22.6228C303.08 22.6228 302.333 22.6228 301.581 22.6228C301.581 19.3527 301.581 16.0861 301.581 12.8159C302.331 12.8159 303.078 12.8159 303.831 12.8159C303.831 16.0825 303.831 19.3474 303.831 22.6228Z" fill="black"></path>
<path d="M313.094 22.6228C312.384 22.6228 311.681 22.6228 310.972 22.6228C310.972 19.3562 310.972 16.0895 310.972 12.8176C311.676 12.8176 312.38 12.8176 313.094 12.8176C313.094 16.0825 313.094 19.3474 313.094 22.6228Z" fill="black"></path>
<path d="M322.677 15.8437C323.372 15.8437 324.061 15.8437 324.76 15.8437C324.76 16.1281 324.76 16.4089 324.76 16.7073C325.297 16.1053 325.97 15.863 326.748 15.835C326.748 16.4985 326.748 17.1532 326.748 17.7992C326.565 17.8307 326.382 17.8483 326.204 17.8939C325.822 17.9905 325.482 18.1695 325.202 18.4486C324.913 18.7365 324.767 19.0858 324.767 19.4948C324.769 20.4988 324.767 21.5046 324.767 22.5086C324.767 22.5438 324.767 22.5789 324.767 22.6192C324.068 22.6192 323.376 22.6192 322.677 22.6192C322.677 20.3637 322.677 18.1081 322.677 15.8437Z" fill="black"></path>
<path d="M346.581 21.503C346.579 22.2069 346.002 22.7809 345.297 22.7774C344.593 22.7756 344.019 22.1999 344.021 21.496C344.022 20.7939 344.598 20.2216 345.306 20.2234C346.012 20.2251 346.583 20.7956 346.581 21.503Z" fill="black"></path>
<path d="M344.498 15.6631C344.232 15.6613 344.012 15.8737 344.007 16.1335C344.002 16.4003 344.227 16.6303 344.493 16.6303C344.761 16.632 344.979 16.4144 344.981 16.1476C344.984 15.8825 344.766 15.6649 344.498 15.6631ZM344.488 16.5425C344.275 16.539 344.107 16.3617 344.109 16.1423C344.111 15.9264 344.285 15.7509 344.498 15.7526C344.713 15.7526 344.884 15.9281 344.884 16.1458C344.882 16.3635 344.701 16.546 344.488 16.5425Z" fill="black"></path>
<path d="M344.67 16.1335C344.748 16.0493 344.695 15.9089 344.582 15.8895C344.505 15.8755 344.422 15.8878 344.343 15.8878V16.3951C344.373 16.3916 344.397 16.3881 344.427 16.3845V16.2178C344.517 16.1827 344.542 16.2371 344.565 16.2968C344.584 16.3494 344.595 16.4179 344.695 16.381C344.681 16.3459 344.67 16.3143 344.654 16.2827C344.626 16.2283 344.617 16.1897 344.67 16.1335ZM344.602 16.0686L344.6 16.0703C344.589 16.0809 344.575 16.0861 344.561 16.0914C344.517 16.109 344.475 16.1248 344.431 16.1423C344.431 16.0791 344.431 16.0159 344.431 15.9527C344.464 15.9562 344.498 15.9633 344.531 15.9738C344.566 15.9843 344.647 16.0229 344.602 16.0686Z" fill="black"></path>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M419.489 12.5044C418.828 12.592 418.251 13.1032 418.078 13.7541C418.019 13.9736 418.022 14.4691 418.082 14.5704C418.111 14.6202 418.28 14.7362 418.554 14.8954C419.115 15.2209 419.28 15.2436 419.419 15.0147C419.466 14.9391 419.474 14.8718 419.474 14.5919C419.474 14.2193 419.505 14.1222 419.643 14.0508C419.748 13.9964 419.85 13.9965 419.955 14.0509C420.399 14.2802 423.061 15.8351 423.12 15.8994C423.206 15.9918 423.222 16.1239 423.165 16.2503C423.123 16.3413 423.278 16.2485 420.696 17.7275C419.803 18.239 419.754 18.2555 419.582 18.1022L419.492 18.0214L419.471 17.6438C419.454 17.3404 419.435 17.2245 419.374 17.0546C419.195 16.5581 418.848 16.2148 418.325 16.0161C418.16 15.9534 418.09 15.9438 417.796 15.9433C417.503 15.9427 417.431 15.9523 417.26 16.0144C417.151 16.0538 416.504 16.4069 415.821 16.799C415.139 17.1911 414.345 17.6461 414.058 17.8101C413.44 18.1632 413.279 18.2813 413.109 18.5066C412.944 18.7241 412.888 18.8359 412.818 19.0892C412.711 19.4764 412.754 19.9136 412.937 20.2908C413.042 20.5078 413.317 20.8165 413.517 20.942C413.8 21.1192 416.975 22.9304 417.118 22.9959C418.064 23.4289 419.216 22.8374 419.432 21.8078C419.493 21.5176 419.488 21.181 419.421 21.0709C419.344 20.9456 418.508 20.4678 418.365 20.4678C418.101 20.4678 418.036 20.5737 418.036 21.0033C418.036 21.3509 418.004 21.4661 417.88 21.5633C417.721 21.6883 417.725 21.6899 416 20.7016C415.003 20.13 414.373 19.7525 414.345 19.7095C414.282 19.6132 414.287 19.4429 414.356 19.3503C414.39 19.3056 414.762 19.0741 415.258 18.7899C415.723 18.5235 416.439 18.113 416.85 17.8776C417.635 17.4275 417.696 17.4038 417.864 17.4906C417.992 17.5568 418.036 17.6872 418.036 18.005C418.036 18.3336 418.084 18.5431 418.22 18.8015C418.42 19.181 418.785 19.4894 419.194 19.6233C419.488 19.7197 419.938 19.7207 420.216 19.6255C420.328 19.5871 420.984 19.2292 421.796 18.7639C422.559 18.3262 423.374 17.8609 423.605 17.7299C424.306 17.334 424.596 16.9877 424.71 16.4092C424.825 15.8219 424.588 15.1672 424.129 14.8035C423.971 14.6786 420.73 12.8012 420.418 12.6544C420.14 12.5232 419.782 12.4654 419.489 12.5044ZM377.937 12.6721C377.372 12.7914 377.034 13.105 376.909 13.6272C376.89 13.7047 376.868 14.038 376.859 14.3677L376.844 14.9671H376.452H376.061V15.5877V16.2083H376.456H376.851V18.4514V20.6945L377.577 20.6869L378.303 20.6794L378.311 18.4439L378.318 16.2083H379.233H380.148L380.158 17.8515C380.167 19.4289 380.17 19.5033 380.228 19.711C380.341 20.1152 380.517 20.3526 380.809 20.4944C381.114 20.6429 381.268 20.6695 381.921 20.6859L382.521 20.701V20.0489V19.3969L382.285 19.3986C382.156 19.3996 382 19.3869 381.938 19.3704C381.805 19.3344 381.684 19.2157 381.646 19.0837C381.629 19.0265 381.618 18.4211 381.618 17.5978V16.2083H382.069H382.521V15.5877V14.9671H382.07H381.619L381.611 14.2689L381.604 13.5708L380.878 13.5632L380.151 13.5557V14.2614V14.9671H379.234H378.318V14.5499C378.318 14.1734 378.324 14.1205 378.381 14.0069C378.476 13.8181 378.636 13.7482 379.012 13.7315L379.305 13.7185V13.1721V12.6258L378.72 12.6281C378.319 12.6296 378.072 12.6435 377.937 12.6721ZM371.793 14.8831C371.057 14.9995 370.362 15.4454 369.932 16.078C369.339 16.9508 369.257 18.2251 369.728 19.2213C370.209 20.2346 371.214 20.835 372.321 20.7692C372.904 20.7345 373.367 20.5416 373.778 20.1628L373.972 19.9847L373.98 20.332L373.988 20.6794H374.693H375.398L375.405 17.8233L375.412 14.9671H374.693H373.973V15.3084V15.6497L373.762 15.4525C373.521 15.227 373.173 15.0327 372.844 14.9389C372.603 14.8702 372.058 14.8413 371.793 14.8831ZM385.46 14.8993C383.954 15.1519 382.97 16.4041 383.037 17.9836C383.076 18.9205 383.457 19.6872 384.139 20.2043C384.351 20.365 384.806 20.5864 385.079 20.6614C385.688 20.8291 386.47 20.8066 387.076 20.6041C387.909 20.3257 388.582 19.6467 388.824 18.8388L388.843 18.7753H388.096H387.349L387.289 18.8719C387.256 18.925 387.156 19.0361 387.067 19.1188C386.777 19.3863 386.438 19.5117 386.005 19.5117C385.559 19.5117 385.244 19.3884 384.959 19.1031C384.766 18.9095 384.632 18.6632 384.569 18.3874L384.529 18.2111H386.724H388.92L388.941 18.0207C388.969 17.7615 388.913 17.2325 388.825 16.9291C388.557 16.0029 387.9 15.3133 386.998 15.0105C386.552 14.861 385.949 14.8173 385.46 14.8993ZM391.904 14.8973C391.654 14.9603 391.412 15.1022 391.216 15.3004L391.04 15.4786V15.2229V14.9671H390.335H389.629V17.8303V20.6935H390.363H391.096V18.9149C391.096 16.9115 391.099 16.8796 391.291 16.5834C391.572 16.1489 392.069 16.0658 392.694 16.349C392.797 16.3957 392.886 16.434 392.891 16.434C392.897 16.434 392.902 16.1044 392.902 15.7016V14.9693L392.754 14.9232C392.545 14.8584 392.11 14.8452 391.904 14.8973ZM396.273 14.9095C395.888 14.993 395.502 15.1955 395.217 15.4636L394.989 15.6782V15.3226V14.9671H394.284H393.579V19.0015V23.0358L394.305 23.0283L395.031 23.0208L395.039 21.5305L395.046 20.0402L395.226 20.2047C395.674 20.6135 396.248 20.806 396.907 20.7684C397.599 20.7289 398.163 20.4798 398.666 19.9915C399.209 19.4641 399.512 18.766 399.549 17.9573C399.615 16.4799 398.75 15.2534 397.408 14.9231C397.116 14.851 396.572 14.8446 396.273 14.9095ZM402.389 14.896C401.368 15.0813 400.553 15.8051 400.228 16.8148C400.103 17.2024 400.081 17.354 400.083 17.8444C400.084 18.3323 400.126 18.5917 400.267 18.9728C400.587 19.8381 401.294 20.479 402.172 20.6993C402.518 20.7862 403.138 20.7865 403.455 20.6999C403.841 20.5947 404.367 20.2815 404.533 20.0577C404.562 20.0195 404.596 19.9883 404.611 19.9883C404.625 19.9883 404.637 20.146 404.637 20.3409V20.6935H405.342H406.047V17.8303V14.9671H405.342H404.637V15.3115V15.6559L404.517 15.5418C404.133 15.1767 403.781 14.9912 403.287 14.8947C403.037 14.8458 402.663 14.8463 402.389 14.896ZM406.649 15.0584C406.671 15.109 407.185 16.2434 407.792 17.5792L408.896 20.008L408.177 21.4926C407.781 22.3092 407.457 22.9902 407.457 23.0061C407.457 23.025 407.734 23.0349 408.262 23.0349H409.067L409.161 22.8303C409.214 22.7179 409.383 22.3656 409.538 22.0475C410.61 19.845 412.958 14.9919 412.958 14.9789C412.958 14.9724 412.596 14.9671 412.152 14.9671H411.347L411.134 15.4114C411.017 15.6558 410.809 16.0905 410.673 16.3775C410.537 16.6646 410.335 17.0898 410.223 17.3225C410.112 17.5553 409.963 17.8695 409.892 18.0207C409.82 18.172 409.754 18.2956 409.745 18.2953C409.736 18.2951 409.404 17.5493 409.007 16.638L408.286 14.9812L407.448 14.9737L406.61 14.9663L406.649 15.0584ZM386.306 16.1546C386.651 16.226 386.979 16.4447 387.181 16.7383C387.266 16.8622 387.359 17.0923 387.377 17.2238L387.387 17.2943L385.967 17.3016L384.547 17.309L384.566 17.217C384.6 17.048 384.767 16.7317 384.902 16.583C385.229 16.2208 385.794 16.0485 386.306 16.1546ZM372.853 16.2555C373.178 16.3518 373.462 16.5512 373.65 16.8148C373.808 17.0356 373.876 17.1961 373.934 17.4841C374.149 18.5464 373.364 19.5103 372.337 19.444C371.352 19.3804 370.697 18.4582 370.912 17.44C371.053 16.777 371.563 16.2996 372.239 16.1983C372.373 16.1782 372.693 16.208 372.853 16.2555ZM396.845 16.2248C397.422 16.3434 397.898 16.8006 398.049 17.3804C398.104 17.5933 398.105 18.0377 398.049 18.2546C397.941 18.6769 397.627 19.0823 397.257 19.2762C396.381 19.7358 395.316 19.2403 395.059 18.2534C395.002 18.0331 395.002 17.5972 395.06 17.38C395.244 16.6842 395.831 16.2084 396.535 16.1834C396.586 16.1816 396.725 16.2002 396.845 16.2248ZM403.339 16.2199C403.938 16.3268 404.407 16.7744 404.567 17.3931C404.633 17.6483 404.612 18.1548 404.525 18.4008C404.447 18.6215 404.29 18.8626 404.112 19.0379C403.95 19.1964 403.591 19.3836 403.37 19.4243C402.85 19.5203 402.334 19.3544 401.978 18.976C401.657 18.6351 401.526 18.2947 401.527 17.8021C401.529 16.9 402.176 16.2152 403.057 16.1845C403.096 16.1832 403.223 16.1991 403.339 16.2199Z" fill="black"></path>
<g clip-path="url(#clip5_234_1116)">
<path d="M481.638 13.483C481.397 12.9039 481.161 12.3288 480.9 11.6988C480.635 12.3366 480.386 12.9313 480.146 13.526C480.098 13.6473 480.198 13.6199 480.254 13.6199C480.687 13.6238 481.125 13.616 481.558 13.6238C481.694 13.6238 481.674 13.569 481.638 13.483ZM481.638 13.483C481.397 12.9039 481.161 12.3288 480.9 11.6988C480.635 12.3366 480.386 12.9313 480.146 13.526C480.098 13.6473 480.198 13.6199 480.254 13.6199C480.687 13.6238 481.125 13.616 481.558 13.6238C481.694 13.6238 481.674 13.569 481.638 13.483ZM490.892 9.67998C490.892 9.55086 490.864 9.5 490.72 9.5C489.745 9.50783 488.766 9.50391 487.791 9.5C487.659 9.5 487.623 9.53913 487.627 9.66433C487.635 10.0243 487.631 10.3881 487.631 10.8068C487.338 10.3803 487.077 10.0047 486.821 9.6252C486.765 9.54304 486.708 9.5 486.596 9.5C485.613 9.50391 484.63 9.50391 483.648 9.5C483.519 9.5 483.487 9.53913 483.495 9.6565C483.503 9.8443 483.495 10.036 483.495 10.2238V11.6988C483.435 11.6441 483.403 11.5815 483.375 11.5189C483.102 10.9046 482.829 10.2903 482.561 9.67215C482.517 9.56651 482.46 9.52348 482.34 9.52348C480.507 9.51956 478.678 9.50391 476.844 9.50783C476.006 9.50783 475.244 9.75432 474.566 10.2434C474.53 10.2669 474.502 10.3138 474.438 10.2864C474.438 10.0986 474.426 9.91082 474.442 9.72301C474.458 9.53913 474.389 9.5 474.209 9.5C468.573 9.50391 462.933 9.50391 457.289 9.5C457.117 9.5 457.052 9.55478 457 9.70736C456.844 10.1847 456.667 10.6542 456.487 11.1589C456.298 10.6346 456.114 10.1495 455.941 9.6565C455.901 9.53913 455.845 9.5 455.713 9.5C454.537 9.50391 453.358 9.50391 452.183 9.5C452.038 9.5 452.006 9.54304 452.01 9.67606C452.018 10.3099 452.014 10.9398 452.01 11.5736C452.01 11.6167 452.034 11.6715 451.974 11.7145C451.665 11.0259 451.36 10.349 451.063 9.66433C451.011 9.53913 450.943 9.5 450.803 9.5C449.888 9.50783 448.973 9.50783 448.055 9.5C447.918 9.5 447.858 9.54304 447.806 9.66433C447.341 10.7364 446.872 11.8045 446.398 12.8726C446.298 13.0956 446.23 13.3343 446.081 13.5338V15.8814C446.186 15.8814 446.206 15.7953 446.234 15.7288C446.374 15.4119 446.519 15.0949 446.659 14.778C447.261 13.4125 447.858 12.0471 448.46 10.6855C448.532 10.5251 448.624 10.4547 448.805 10.4586C449.206 10.4664 449.607 10.4742 450.008 10.4547C450.241 10.4429 450.353 10.5329 450.438 10.7364C450.75 11.4758 451.079 12.2114 451.404 12.947C451.814 13.8586 452.211 14.778 452.616 15.6936C452.676 15.8266 452.64 15.8657 452.499 15.8657C452.134 15.8618 451.765 15.8618 451.396 15.8657C451.256 15.8657 451.176 15.807 451.128 15.6779C451.043 15.4432 450.939 15.2162 450.851 14.9854C450.791 14.8289 450.682 14.7663 450.514 14.7663C449.78 14.7702 449.046 14.7663 448.308 14.7663C448.147 14.7663 448.043 14.8289 447.987 14.9776C447.894 15.2084 447.79 15.4353 447.706 15.6662C447.654 15.8148 447.561 15.8657 447.405 15.8618C447.052 15.854 446.699 15.8579 446.342 15.8579C446.25 15.8579 446.153 15.854 446.073 15.9166V16.8556C446.755 16.8556 447.437 16.8517 448.119 16.8595C448.251 16.8595 448.32 16.8282 448.368 16.6991C448.476 16.4056 448.604 16.12 448.717 15.8266C448.757 15.7249 448.809 15.6857 448.921 15.6896C449.242 15.6975 449.563 15.6975 449.884 15.6896C450.004 15.6857 450.061 15.7249 450.105 15.8344C450.209 16.1083 450.337 16.3743 450.434 16.6482C450.49 16.8086 450.574 16.8556 450.75 16.8556C456.258 16.8517 461.766 16.8517 467.273 16.8517C467.666 16.8517 468.064 16.8478 468.457 16.8556C468.577 16.8595 468.617 16.8282 468.613 16.703C468.605 16.4291 468.609 16.1552 468.613 15.8814C468.613 15.8383 468.581 15.7796 468.645 15.7405C468.926 16.077 469.207 16.4056 469.48 16.7421C469.54 16.8125 469.596 16.8517 469.696 16.8517C471.229 16.8478 472.757 16.8478 474.289 16.8517C474.402 16.8517 474.438 16.8165 474.434 16.7069C474.426 16.4995 474.43 16.2883 474.43 16.0418C474.502 16.0965 474.53 16.12 474.562 16.1435C475.099 16.5582 475.705 16.8282 476.395 16.8399C477.478 16.8595 478.561 16.8438 479.644 16.8478C479.749 16.8478 479.797 16.8125 479.833 16.7226C479.953 16.4174 480.078 16.12 480.194 15.8148C480.23 15.7249 480.274 15.6818 480.382 15.6857C480.715 15.6936 481.052 15.6936 481.385 15.6857C481.502 15.6818 481.546 15.7327 481.586 15.8305C481.698 16.1161 481.827 16.3978 481.931 16.6834C481.979 16.8165 482.051 16.8556 482.192 16.8517C483.648 16.8478 485.104 16.8478 486.564 16.8517C486.732 16.8517 486.777 16.8086 486.773 16.6443C486.761 16.3039 486.769 15.9635 486.769 15.6231C487.045 15.9753 487.286 16.3352 487.515 16.6991C487.583 16.8047 487.651 16.8517 487.783 16.8517C488.754 16.8438 489.721 16.8438 490.692 16.8517C490.836 16.8517 490.884 16.8243 490.884 16.6717C490.888 14.3476 490.888 12.0119 490.892 9.67998ZM460.001 15.7562C460.001 15.8814 459.969 15.9244 459.836 15.9205C459.483 15.9127 459.126 15.9087 458.773 15.9205C458.617 15.9244 458.589 15.8774 458.589 15.7366C458.597 14.5511 458.593 13.3656 458.593 12.1762V11.9649C458.581 11.961 458.573 11.961 458.561 11.9571C458.48 12.1644 458.4 12.3718 458.324 12.5831C457.935 13.6395 457.542 14.6998 457.157 15.7601C457.113 15.8853 457.06 15.9322 456.92 15.9283C456.631 15.9166 456.346 15.9127 456.058 15.9283C455.905 15.9361 455.837 15.8814 455.789 15.7444C455.352 14.5433 454.906 13.346 454.461 12.1488C454.441 12.0901 454.417 12.0314 454.361 11.9727C454.357 12.0236 454.353 12.0784 454.353 12.1292C454.353 13.3147 454.345 14.5002 454.357 15.6896C454.357 15.897 454.297 15.94 454.1 15.9283C453.779 15.9127 453.458 15.9166 453.137 15.9283C452.985 15.9322 452.937 15.8931 452.937 15.7366C452.945 14.5315 452.941 13.3265 452.941 12.1175C452.941 11.6089 452.945 11.1002 452.937 10.5916C452.933 10.439 452.985 10.4077 453.129 10.4116C453.751 10.4234 454.373 10.4234 454.995 10.4155C455.155 10.4116 455.211 10.4742 455.259 10.6072C455.64 11.6558 456.025 12.7005 456.415 13.7451C456.435 13.8038 456.459 13.8586 456.499 13.9603C456.659 13.5143 456.804 13.1113 456.948 12.7083C457.205 11.9962 457.462 11.2841 457.71 10.572C457.754 10.4507 457.81 10.3999 457.951 10.4038C458.573 10.4116 459.194 10.4116 459.816 10.4038C459.953 10.4038 460.001 10.4312 460.001 10.572C459.997 12.3014 459.997 14.0307 460.001 15.7562ZM462.395 11.8397C462.412 12.0158 462.408 12.1918 462.395 12.3679C462.383 12.54 462.428 12.5987 462.62 12.5987C463.511 12.587 464.397 12.5987 465.288 12.5909C465.448 12.5909 465.512 12.6183 465.5 12.7904C465.484 13.0448 465.488 13.2991 465.5 13.5534C465.508 13.706 465.464 13.749 465.304 13.749C464.409 13.7412 463.515 13.749 462.616 13.7412C462.44 13.7412 462.383 13.7842 462.395 13.9564C462.412 14.152 462.408 14.3476 462.395 14.5433C462.387 14.688 462.436 14.7311 462.584 14.7272C463.507 14.7193 464.429 14.7311 465.352 14.7193C465.544 14.7154 465.585 14.778 465.577 14.9502C465.564 15.2162 465.564 15.4862 465.577 15.7522C465.581 15.8853 465.552 15.9322 465.404 15.9283C463.98 15.9244 462.556 15.9244 461.136 15.9283C460.983 15.9283 460.963 15.8735 460.963 15.7483C460.967 14.8876 460.967 14.0268 460.967 13.17C460.967 12.317 460.971 11.4641 460.963 10.6072C460.963 10.4507 461.008 10.4116 461.164 10.4116C462.572 10.4194 463.984 10.4194 465.392 10.4116C465.548 10.4116 465.581 10.4586 465.577 10.5994C465.564 10.8733 465.56 11.1472 465.577 11.4211C465.589 11.6049 465.544 11.6636 465.34 11.6597C464.425 11.648 463.511 11.6597 462.592 11.6519C462.44 11.6441 462.383 11.6793 462.395 11.8397ZM470.153 15.9205C470.073 15.9205 470.037 15.8657 469.997 15.8148C469.492 15.2319 468.99 14.6489 468.485 14.0659C468.413 13.9799 467.915 13.9094 467.831 13.9759C467.775 14.019 467.803 14.0855 467.803 14.1403C467.803 14.6763 467.799 15.2084 467.803 15.7444C467.803 15.8774 467.771 15.9244 467.626 15.9205C467.265 15.9127 466.904 15.9127 466.543 15.9205C466.427 15.9244 466.379 15.9009 466.379 15.7718C466.383 14.0386 466.383 12.3053 466.379 10.572C466.379 10.4468 466.415 10.4038 466.551 10.4077C467.554 10.4116 468.557 10.3999 469.556 10.4155C470.266 10.4273 470.892 10.6659 471.257 11.2998C471.85 12.3288 471.309 13.6121 470.137 13.8586C470.085 13.8703 470.037 13.886 469.957 13.9055C470.575 14.5824 471.172 15.2358 471.798 15.9205C471.229 15.9205 470.691 15.9166 470.153 15.9205ZM473.515 15.7796C473.515 15.8892 473.483 15.9244 473.371 15.9244C472.998 15.9166 472.62 15.9166 472.247 15.9244C472.107 15.9283 472.067 15.8892 472.067 15.7522C472.075 14.8876 472.071 14.019 472.071 13.1543C472.071 12.3014 472.075 11.4484 472.067 10.5955C472.067 10.4507 472.103 10.4038 472.255 10.4077C472.624 10.4194 472.99 10.4155 473.359 10.4077C473.483 10.4038 473.515 10.4468 473.515 10.5642C473.511 12.3014 473.511 14.0386 473.515 15.7796ZM476.961 15.8579C476.921 15.94 476.852 15.9166 476.788 15.9166C475.465 15.944 474.534 15.2162 474.281 13.9446C474.141 13.2482 474.165 12.5557 474.446 11.8906C474.819 11.0024 475.545 10.5603 476.491 10.4468C477.137 10.3686 477.787 10.4234 478.433 10.4077C478.549 10.4038 478.561 10.4547 478.561 10.5486C478.557 10.8811 478.553 11.2137 478.561 11.5463C478.565 11.6793 478.529 11.7262 478.385 11.7223C477.936 11.7145 477.49 11.7301 477.041 11.7184C476.034 11.691 475.653 12.4501 475.629 13.0878C475.621 13.2991 475.629 13.5064 475.681 13.7099C475.826 14.3007 476.291 14.6763 476.933 14.7037C477.117 14.7115 477.302 14.7037 477.522 14.7037C477.33 15.1106 477.145 15.4823 476.961 15.8579ZM482.745 15.9205C482.645 15.9205 482.629 15.8579 482.601 15.7914C482.488 15.5136 482.368 15.2397 482.264 14.958C482.22 14.8406 482.155 14.8211 482.043 14.8211C481.281 14.825 480.519 14.825 479.757 14.8211C479.636 14.8211 479.576 14.8524 479.536 14.9658C479.432 15.2475 479.307 15.5214 479.203 15.7992C479.167 15.8931 479.119 15.9283 479.015 15.9244C478.585 15.9205 478.16 15.9166 477.731 15.9244C477.583 15.9283 477.583 15.8814 477.635 15.7679C478.405 14.0268 479.175 12.2818 479.937 10.5407C479.981 10.439 480.041 10.4116 480.15 10.4116C480.663 10.4155 481.177 10.4155 481.694 10.4116C481.794 10.4116 481.847 10.4351 481.891 10.529C482.665 12.2975 483.443 14.0659 484.221 15.8305C484.229 15.854 484.237 15.8774 484.253 15.9205C483.744 15.9205 483.243 15.9166 482.745 15.9205ZM489.733 15.9205C489.288 15.9127 488.838 15.9127 488.389 15.9205C488.245 15.9244 488.165 15.8814 488.084 15.7601C487.39 14.6998 486.692 13.6473 485.99 12.5948C485.95 12.5361 485.93 12.4657 485.838 12.4188V12.6183C485.838 13.6551 485.834 14.6919 485.842 15.7249C485.842 15.8774 485.806 15.9244 485.645 15.9205C485.292 15.9087 484.939 15.9127 484.582 15.9205C484.458 15.9244 484.426 15.8814 484.426 15.764C484.43 14.0307 484.43 12.2975 484.426 10.5642C484.426 10.4312 484.474 10.3999 484.598 10.4038C485.08 10.4116 485.561 10.4116 486.042 10.4038C486.183 10.3999 486.255 10.4547 486.327 10.5642C487.001 11.5893 487.679 12.6105 488.357 13.6316C488.397 13.6903 488.437 13.749 488.477 13.8116C488.489 13.8077 488.501 13.8077 488.513 13.8038V12.5166C488.513 11.871 488.517 11.2254 488.509 10.5799C488.509 10.4468 488.542 10.396 488.686 10.4038C489.039 10.4155 489.396 10.4116 489.749 10.4038C489.893 10.3999 489.925 10.4507 489.925 10.5799C489.921 12.3014 489.921 14.019 489.925 15.7405C489.925 15.897 489.877 15.9244 489.733 15.9205ZM480.9 11.6988C480.635 12.3366 480.386 12.9313 480.146 13.526C480.098 13.6473 480.198 13.6199 480.254 13.6199C480.687 13.6238 481.125 13.616 481.558 13.6238C481.694 13.6238 481.674 13.569 481.642 13.4869C481.397 12.9039 481.161 12.3249 480.9 11.6988Z" fill="white"></path>
<path d="M489.3 22.4701C489.532 23.057 490.082 23.413 490.792 23.4247C491.241 23.4326 491.686 23.4287 492.136 23.4247C492.252 23.4247 492.364 23.4365 492.468 23.4756C492.665 23.546 492.777 23.7104 492.769 23.9099C492.761 24.1016 492.649 24.2503 492.448 24.3129C492.328 24.352 492.2 24.3598 492.071 24.3559C491.229 24.3559 490.387 24.3598 489.548 24.352C489.396 24.352 489.34 24.3872 489.348 24.5437C489.364 24.8176 489.364 25.0915 489.348 25.3654C489.34 25.518 489.396 25.5453 489.54 25.5453C490.455 25.5375 491.369 25.5336 492.284 25.5453C493.086 25.5532 493.712 25.2832 494.073 24.5476V24.6572C493.728 25.3145 493.15 25.5962 492.4 25.5962C491.486 25.5962 490.571 25.5962 489.653 25.5962C489.32 25.5962 489.287 25.5649 489.283 25.2402C489.283 25.0367 489.279 24.8372 489.283 24.6337C489.287 24.3442 489.324 24.3051 489.62 24.3012C490.411 24.2972 491.197 24.3012 491.987 24.3012C492.128 24.3012 492.268 24.2972 492.404 24.2542C492.601 24.1916 492.689 24.0821 492.689 23.9021C492.693 23.7221 492.609 23.6086 492.416 23.5343C492.308 23.4952 492.196 23.4873 492.083 23.4873C491.682 23.4873 491.281 23.4913 490.88 23.4873C489.476 23.4756 488.67 22.1727 489.312 20.9481C489.516 20.5569 489.857 20.3065 490.27 20.1617C490.555 20.06 490.848 20.0013 491.153 20.0052C492.035 20.0091 492.918 20.0052 493.8 20.0052C493.884 20.0052 493.973 19.9974 494.057 20.0247C494.065 20.0287 494.073 20.0326 494.077 20.0326C493.933 20.0678 493.784 20.0482 493.64 20.0482C492.777 20.056 491.915 20.0443 491.056 20.0678C490.547 20.0795 490.066 20.2204 489.681 20.5725C489.191 21.0224 489.035 21.7971 489.3 22.4701Z" fill="#306FB7"></path>
<path d="M489.685 20.5724C490.07 20.2203 490.551 20.0794 491.061 20.0677C491.923 20.0442 492.786 20.0559 493.644 20.0481C493.788 20.0481 493.937 20.0677 494.081 20.0325C494.081 19.7351 494.077 19.4338 494.077 19.1365C484.482 19.1365 474.883 19.1365 465.284 19.1326C465.163 19.1326 465.087 19.1717 465.015 19.2617C464.79 19.5473 464.558 19.8251 464.337 20.1068C464.265 20.2007 464.225 20.2281 464.14 20.1107C463.932 19.8251 463.703 19.5512 463.487 19.2695C463.41 19.1717 463.33 19.1287 463.202 19.1287C460.663 19.1326 458.123 19.1326 455.584 19.1287C455.436 19.1287 455.388 19.1639 455.388 19.3126C455.392 21.6483 455.392 23.9802 455.388 26.3121C455.388 26.449 455.432 26.4882 455.568 26.4882C458.107 26.4842 460.647 26.4842 463.186 26.4882C463.29 26.4882 463.354 26.4529 463.418 26.3708C463.667 26.0421 463.924 25.7213 464.193 25.377C464.449 25.7135 464.702 26.0343 464.947 26.359C465.011 26.4451 465.079 26.4882 465.191 26.4882C466.684 26.4842 468.172 26.4842 469.664 26.4882C469.805 26.4882 469.849 26.449 469.845 26.3121C469.837 25.8621 469.849 25.4122 469.841 24.9623C469.837 24.8292 469.873 24.7862 470.017 24.7862C470.775 24.7823 471.537 24.8566 472.276 24.5241C472.276 25.1305 472.28 25.7135 472.272 26.2925C472.268 26.4451 472.312 26.4921 472.472 26.4921C473.166 26.4842 473.86 26.4921 474.558 26.4882C474.843 26.4842 475.132 26.5116 475.416 26.4725C475.473 26.1947 475.428 25.9169 475.441 25.6391C475.445 25.5531 475.441 25.4709 475.441 25.33C475.737 25.6861 475.998 25.9913 476.247 26.3043C476.355 26.4412 476.467 26.4921 476.648 26.4921C481.754 26.4882 486.861 26.4803 491.967 26.496C492.721 26.4999 493.423 26.3825 494.073 25.9991C494.073 25.5531 494.073 25.1031 494.073 24.6571V24.5475C493.712 25.2831 493.087 25.557 492.284 25.5452C491.37 25.5374 490.455 25.5413 489.54 25.5452C489.396 25.5452 489.34 25.5178 489.348 25.3653C489.364 25.0914 489.364 24.8175 489.348 24.5436C489.34 24.3871 489.396 24.3519 489.548 24.3519C490.391 24.3597 491.233 24.3558 492.072 24.3558C492.2 24.3558 492.324 24.348 492.449 24.3128C492.649 24.2502 492.762 24.1015 492.77 23.9098C492.778 23.7102 492.665 23.5459 492.469 23.4755C492.36 23.4364 492.248 23.4246 492.136 23.4246C491.687 23.4246 491.241 23.4285 490.792 23.4246C490.082 23.4129 489.532 23.0569 489.3 22.47C489.035 21.797 489.191 21.0223 489.685 20.5724ZM460.968 24.571C460.947 24.8371 460.951 25.107 460.968 25.3731C460.976 25.5257 460.919 25.5531 460.775 25.5531C459.367 25.5491 457.955 25.5452 456.547 25.5531C456.391 25.5531 456.358 25.5061 456.358 25.3653C456.366 24.5123 456.362 23.6594 456.362 22.8025C456.362 21.9496 456.366 21.0967 456.358 20.2398C456.358 20.099 456.387 20.0481 456.547 20.0481C457.963 20.052 459.379 20.052 460.799 20.0481C460.927 20.0481 460.976 20.0755 460.972 20.2085C460.963 20.5059 460.959 20.8071 460.972 21.1084C460.976 21.2493 460.927 21.2806 460.791 21.2766C459.876 21.2727 458.962 21.2806 458.043 21.2688C457.823 21.2649 457.77 21.3314 457.791 21.5271C457.807 21.6953 457.807 21.8674 457.791 22.0357C457.778 22.1844 457.827 22.2196 457.979 22.2196C458.882 22.2117 459.784 22.2196 460.687 22.2117C460.851 22.2117 460.907 22.247 460.899 22.4152C460.883 22.6695 460.887 22.9238 460.899 23.1781C460.907 23.3346 460.863 23.3894 460.691 23.3855C459.796 23.3777 458.902 23.3855 458.003 23.3777C457.843 23.3777 457.778 23.409 457.791 23.5772C457.807 23.7768 457.807 23.9802 457.791 24.1837C457.778 24.3363 457.839 24.3636 457.983 24.3636C458.906 24.3558 459.828 24.3636 460.751 24.3558C460.915 24.3558 460.98 24.391 460.968 24.571ZM465.163 22.9395C465.837 23.7572 466.503 24.5788 467.173 25.4005C467.201 25.4357 467.229 25.4709 467.253 25.5061C467.225 25.5726 467.169 25.5491 467.129 25.5491C466.64 25.5491 466.154 25.5452 465.665 25.5531C465.548 25.5531 465.484 25.51 465.42 25.4279C465.051 24.9505 464.678 24.4732 464.301 23.9998C464.269 23.9607 464.233 23.9215 464.189 23.8668C463.816 24.3558 463.443 24.8253 463.09 25.3144C462.961 25.4905 462.829 25.5687 462.6 25.5609C462.135 25.5413 461.665 25.5531 461.148 25.5531C461.577 25.0327 461.978 24.5436 462.38 24.0585C462.672 23.7024 462.957 23.3425 463.262 22.9982C463.374 22.8691 463.354 22.7947 463.254 22.6734C462.584 21.8714 461.922 21.0615 461.256 20.2516C461.212 20.1968 461.168 20.142 461.1 20.0559C461.537 20.0559 461.938 20.0833 462.331 20.0481C462.728 20.0129 462.985 20.1342 463.206 20.4628C463.471 20.858 463.796 21.218 464.092 21.5936C464.237 21.7735 464.237 21.7735 464.385 21.5857C464.758 21.1162 465.131 20.6506 465.5 20.1811C465.573 20.0872 465.649 20.052 465.765 20.052C466.263 20.0559 466.764 20.0559 467.305 20.0559C467.225 20.1577 467.169 20.2281 467.113 20.2946C466.463 21.0888 465.813 21.8831 465.155 22.6695C465.063 22.7791 465.075 22.8338 465.163 22.9395ZM472.524 22.4661C472.34 23.1938 471.802 23.5772 471.076 23.7416C470.503 23.8707 469.917 23.8042 469.339 23.8159C468.906 23.8237 468.906 23.8159 468.906 24.2463C468.906 24.6297 468.902 25.0131 468.91 25.4005C468.914 25.5218 468.87 25.557 468.75 25.5531C468.381 25.5452 468.015 25.5452 467.646 25.5531C467.494 25.557 467.454 25.5139 467.458 25.3692C467.466 24.5162 467.462 23.6633 467.462 22.8065C467.462 21.9535 467.466 21.1006 467.458 20.2437C467.458 20.1107 467.474 20.0481 467.638 20.0481C468.625 20.0559 469.616 20.052 470.607 20.052C471.116 20.052 471.59 20.1655 471.979 20.502C472.6 21.038 472.713 21.7266 472.524 22.4661ZM477.563 25.557C477.085 25.6157 476.772 25.4552 476.491 25.0757C476.142 24.6023 475.725 24.1758 475.336 23.7259C475.244 23.6203 474.787 23.5303 474.674 23.6007C474.61 23.6398 474.638 23.7063 474.638 23.7611C474.634 24.2893 474.63 24.8175 474.642 25.3457C474.646 25.5022 474.614 25.5609 474.438 25.557C474.085 25.5413 473.728 25.5491 473.375 25.5531C473.262 25.5531 473.226 25.5218 473.226 25.4122C473.23 23.6711 473.23 21.934 473.226 20.1929C473.226 20.0794 473.27 20.052 473.379 20.052C474.446 20.0598 475.517 20.0442 476.584 20.0677C477.466 20.0911 478.136 20.6702 478.301 21.4918C478.497 22.4778 477.855 23.3699 476.792 23.5303C477.41 24.2071 478.008 24.8605 478.638 25.5531C478.244 25.5491 477.899 25.5178 477.563 25.557ZM483.535 24.571C483.519 24.8449 483.527 25.1188 483.531 25.3926C483.535 25.5061 483.507 25.5531 483.379 25.5531C481.943 25.5491 480.507 25.5491 479.071 25.5531C478.934 25.5531 478.922 25.4944 478.922 25.3887C478.926 24.5241 478.922 23.6555 478.922 22.7908C478.922 21.9379 478.926 21.0849 478.918 20.2281C478.918 20.0951 478.946 20.052 479.091 20.052C480.507 20.0559 481.923 20.0559 483.339 20.052C483.491 20.052 483.531 20.0951 483.527 20.2398C483.515 20.5254 483.515 20.815 483.527 21.1006C483.535 21.2493 483.487 21.2845 483.339 21.2845C482.408 21.2766 481.482 21.2884 480.551 21.2766C480.37 21.2727 480.318 21.3197 480.334 21.4918C480.35 21.6718 480.346 21.8557 480.334 22.0396C480.326 22.1844 480.37 22.2274 480.523 22.2274C481.417 22.2196 482.312 22.2274 483.207 22.2196C483.383 22.2196 483.439 22.2587 483.427 22.4348C483.411 22.6891 483.415 22.9434 483.427 23.1977C483.435 23.3503 483.387 23.3972 483.227 23.3933C482.332 23.3855 481.437 23.3933 480.539 23.3855C480.37 23.3855 480.318 23.4285 480.33 23.5929C480.346 23.7924 480.342 23.9959 480.33 24.1993C480.322 24.3402 480.379 24.3715 480.515 24.3715C481.446 24.3676 482.372 24.3715 483.303 24.3636C483.479 24.3558 483.547 24.391 483.535 24.571ZM489.011 24.0154C488.887 25.0014 488.273 25.5296 487.246 25.5452C486.275 25.5609 485.308 25.5452 484.338 25.5531C484.201 25.5531 484.173 25.5061 484.173 25.3848C484.181 25.1031 484.185 24.8253 484.173 24.5436C484.165 24.3989 484.209 24.3558 484.362 24.3597C485.212 24.3676 486.059 24.3636 486.909 24.3636C487.029 24.3636 487.15 24.3558 487.266 24.3206C487.471 24.2619 487.595 24.1015 487.595 23.902C487.599 23.7024 487.483 23.542 487.282 23.4716C487.162 23.4285 487.033 23.4285 486.909 23.4246C486.384 23.409 485.854 23.4677 485.329 23.3894C484.57 23.276 484.073 22.7243 484.017 21.9809C483.933 20.8737 484.586 20.1733 485.766 20.0755C486.817 19.9894 487.876 20.0559 488.967 20.0442C488.77 20.4511 488.59 20.8228 488.417 21.1945C488.369 21.2923 488.293 21.2766 488.217 21.2766C487.515 21.2766 486.813 21.2766 486.111 21.2766C486.002 21.2766 485.898 21.2766 485.794 21.304C485.529 21.3666 485.385 21.5388 485.405 21.7696C485.425 22.0161 485.621 22.2039 485.882 22.2117C486.331 22.2196 486.777 22.2157 487.226 22.2157C487.507 22.2157 487.787 22.247 488.052 22.3369C488.826 22.6069 489.099 23.3033 489.011 24.0154Z" fill="white"></path>
<path d="M481.558 13.6198C481.125 13.612 480.688 13.6198 480.254 13.6159C480.198 13.6159 480.094 13.6433 480.146 13.522C480.391 12.9273 480.639 12.3326 480.9 11.6948C481.161 12.3247 481.398 12.8999 481.638 13.4789C481.674 13.5689 481.694 13.6237 481.558 13.6198Z" fill="#306FB7"></path>
<path d="M449.419 11.6987C449.692 12.36 449.944 12.9742 450.209 13.6198C449.7 13.6198 449.214 13.6237 448.729 13.6198C448.577 13.6198 448.665 13.522 448.689 13.4711C448.869 13.0251 449.054 12.5791 449.238 12.133C449.291 12 449.347 11.8709 449.419 11.6987Z" fill="white"></path>
<path d="M494.077 20.2087C494.077 21.1673 494.077 22.1259 494.077 23.0845C493.744 22.4428 493.163 22.2354 492.473 22.2198C492.012 22.212 491.55 22.2198 491.093 22.2159C490.84 22.212 490.648 22.0789 490.596 21.8716C490.523 21.5977 490.656 21.3825 490.945 21.3121C491.057 21.2847 491.169 21.2808 491.282 21.2808C491.983 21.2808 492.681 21.2769 493.383 21.2847C493.508 21.2847 493.568 21.2456 493.62 21.136C493.769 20.8269 493.897 20.5061 494.077 20.2087Z" fill="white"></path>
<path d="M468.697 12.7982C468.449 12.7982 468.204 12.7943 467.955 12.7982C467.851 12.8022 467.799 12.7787 467.799 12.6613C467.807 12.3679 467.803 12.0744 467.799 11.781C467.799 11.6793 467.831 11.644 467.935 11.644C468.441 11.648 468.95 11.6401 469.456 11.648C469.796 11.6558 470.069 11.9179 470.069 12.2231C470.069 12.5283 469.805 12.7748 469.452 12.7943C469.439 12.7943 469.423 12.7943 469.411 12.7943C469.179 12.7982 468.938 12.7982 468.697 12.7982Z" fill="white"></path>
<path d="M481.558 13.6198C481.125 13.612 480.688 13.6198 480.254 13.6159C480.198 13.6159 480.094 13.6433 480.146 13.522C480.391 12.9273 480.639 12.3326 480.9 11.6948C481.161 12.3247 481.398 12.8999 481.638 13.4789C481.674 13.5689 481.694 13.6237 481.558 13.6198Z" fill="white"></path>
<path d="M475.544 21.2769C475.773 21.2769 475.998 21.2729 476.226 21.2769C476.599 21.2808 476.908 21.5351 476.916 21.8481C476.924 22.1454 476.652 22.4193 476.286 22.435C475.773 22.4545 475.26 22.4389 474.746 22.4428C474.658 22.4428 474.634 22.4076 474.634 22.3254C474.638 22.0124 474.638 21.6994 474.634 21.3903C474.634 21.2886 474.678 21.2729 474.766 21.2729C475.023 21.2808 475.284 21.2769 475.544 21.2769Z" fill="white"></path>
<path d="M469.792 22.564C469.547 22.564 469.298 22.56 469.054 22.5679C468.937 22.5718 468.905 22.5287 468.905 22.4231C468.909 22.0984 468.909 21.7736 468.905 21.4489C468.905 21.3354 468.933 21.2885 469.062 21.2885C469.523 21.2963 469.98 21.2806 470.442 21.2924C470.983 21.308 471.28 21.6602 471.144 22.114C471.063 22.3801 470.815 22.5561 470.49 22.564C470.257 22.5679 470.024 22.564 469.792 22.564Z" fill="#FEFFFF"></path>
</g>
<defs>
<clipPath id="clip0_234_1116">
<rect width="40" height="13" fill="white" transform="translate(12.0811 11.3159)"></rect>
</clipPath>
<clipPath id="clip1_234_1116">
<rect width="36" height="22" fill="white" transform="translate(87 7)"></rect>
</clipPath>
<clipPath id="clip2_234_1116">
<rect width="44" height="12" fill="white" transform="translate(156.081 11.8159)"></rect>
</clipPath>
<clipPath id="clip3_234_1116">
<rect width="45" height="18" fill="white" transform="translate(228.581 8.81592)"></rect>
</clipPath>
<clipPath id="clip4_234_1116">
<rect width="45" height="10" fill="white" transform="translate(301.581 12.8159)"></rect>
</clipPath>
<clipPath id="clip5_234_1116">
<rect width="48" height="17" fill="white" transform="translate(446.081 9.5)"></rect>
</clipPath>
</defs>
</svg>

          </div>
        </div>
        </div>
      {%- endif -%}

      <div class="footer-block--newsletter">
          <div class="footer-block__newsletter">
            {%- if section.settings.newsletter_heading != blank -%}
              <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
            {%- endif -%}
          </div>

        {%- if section.settings.show_social -%}
          <ul class="footer__list-social list-unstyled list-social" role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  {% comment %} <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                      {%- for country in localization.available_countries -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                            {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                      {%- for language in localization.available_languages -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                            {{ language.endonym_name | capitalize }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
          <small class="copyright__content">{{ powered_by_link }}</small>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  <div class="very-footer">
    <p>Made with <span class="love"></span> in Palestine</p>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
